/////////////////////////////header and first page starts

:root{
    --yellow: #f5bf23;
    --black: #111;
    --white: #fff;
    --light-color: #666;
    --light-bg: #eee;
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    --border:1rem solid rgba(0,0,0,.3);

}


* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: all .2s linear;
}

@mixin grid($val) {
    display: grid;
    grid-template-coloumns: repeat(auto-fit, minmax($val, 1fr));
    gap:2rem;
}

@mixin titleText($titleSize) {
    font-size: $titleSize;
    color:var(--light-color);
    line-height: 1.5;
}

.icons {
    display: flex;
       line-height: 3rem;
    font-Size: 2.9rem;
    
    color:var(--black);
    cursor: pointer;
    text-align: center;
    margin: 5px;

}

.closebutton{
    font-size: 2.5rem;
    color: black;

}


.icon{
    margin-left: 14px;
    background: var(--light-bg);
}

.contactinfo{
    text-align: center;
    padding-top: 0rem;

}


.info{
margin-bottom: 3rem;
font-size: 2rem;


}

.share{
padding-top: 2rem;
border-top: var(--border);

a{
    font-size: 5rem;
    margin: 6px;
}
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;

    &::-webkit-scrollbar{
        width: 1rem;

    }

    &::-webkit-scrollbar{
        background: transparent;
}
    &::-webkit-scrollbar-thumb{
        background: var(--yellow);
    }
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--black);
    color: var(--white);
    cursor: pointer;
    font-size: 1.7rem;
    text-transform: capitalize;

    &:hover{
        background: var(--yellow);
        color:var(--black);
    }
}

@keyframes fadeIn {
    0%{
        top:50%;
        opacity: 0;
    }
}

.header{
    position: sticky;
    top:0; left: 0; right: 0;
    box-shadow: var(--box-shadow);
    padding: 1.5rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: honeydew;

.Nav{

    display: flex;
}

.logo{
    @include titleText(3rem);
    text-decoration: none;


    span{
        color: greenyellow;
    }
}

.navbar a{
    @include titleText(2rem);
    margin:0 1rem;
    text-decoration: none;

    &:hover{
        color:var(--yellow);
    }
}





h3{
    @include titleText(2.5rem);
    padding-bottom: 1rem;
    text-transform: uppercase;
}

.box{
    width: 100%;
    padding: 1.2rem 1.4rem;
    background: var(--light-bg);
    font-size: 1.6rem;
    color:var(--light-color);
    margin: .7rem 0;
}

.flex{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;

    label{
        font-size: 1.5rem;
        color:var(--light-color);
        cursor: pointer;

    }

    a{
        font-size: 1.5rem;
        color:var(--light-color);
        margin-left: auto;

        &:hover{
            color: var(--yellow);
            text-decoration: underline;
        }
    }
}
.btn{
    width: 50%;
}

}
.Toggle{
    display: none;
}

#canbody{
    align-items: flex-start;
    display: flex;
    text-align: start;

}
#canbody ul {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#canbody li{
list-style: none;
text-decoration: none;

}

#canbody li a{
    text-decoration: none;
    color: yellowgreen;
    padding: 1.7rem;
    font-size: 150%;
    height: 3px;
    width: 100%;
}

#canbody li:hover{
    background-color: #666;

}

#canbody ul li a .bar {
    height: 3px;
    
    background-color: #666;
    border-radius: 10px;
}

.bar{
    
    height: 3px;
    width: 100%;
}

////////////////////////////////////////////////////////////////////////////////////////Header and FirstPage ends








///////////////////////////////Slider on Firstpage
#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
  width: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  
}

.swiper {
  min-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.swiper-slide {
    display: flex;
  text-align: center;
  font-size: 14px;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 100vh;
  justify-content: center;
  
  /* Center slide text vertically */
  div{
    
  display: flex;
  }
}


.swiperimg{
  min-height: 100vh;
  min-width: 100%;
  background-size: cover;

}

.content{
    display: flex;
  align-items: center;
  width: none;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 59rem;

  h3{
    font-size: 6.5rem;
    color: black;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  p{
    font-size: 2.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: midnightblue;
  }
  a{
    width: 20%;
    margin-left: 0;
  }
}








//////////////////////////////////////////Secondpage About

section{
    padding: 10rem 10%;
}

.heading{
    margin-bottom: 3rem;
    font-size: 3rem;
    padding-left: 1rem;
    border-left: 1rem solid yellow;
}

.about{

.row{
    display: flex;
    align-items: center;


    flex-wrap: wrap;
    gap: 2rem;
    

    .video{
flex:1 1 41rem;

img{
    width: auto;
}
 }
 .content{
     flex:1 1 41rem;
    text-align: left;
    display: flex;
     h3{
         display: flex;
         font-size: 3.5rem;
         font-family: 'Times New Roman', Times, serif;
     }
     p{
         display: flex;
         font-size: 2rem;
         color: black;
         font-family: 'Times New Roman', Times, serif;
     }
     a{
         margin-left: 3px;
     }
 }

}



.box-container{
    display: flex;
    margin-top: 3rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .box{
        text-align: center;
        background-color: rgb(211, 247, 199);
        width: 300px;
        padding: 3rem 2rem; 
        margin: 3rem;
    }
    h3{
        font-size: 4rem;
    }
    p{
        font-size: 1.5rem;
        padding-top: .5rem;
    }
    }
}
///////////////////////////About Page ends



//////////////////////////ContactUs Thirdpage Starts
.contact{
    background-color: black;

    .heading{
        color: white;
    }

    .row{
        
        display: flex;
        gap: 3rem;
        flex-direction: row;
        justify-content: space-between;

        .map{
            flex:1 1 41rem;
        }
        form{
            flex: 1 1 41rem;
            background: white;
            padding:2rem;
            max-width: 600px;
            h3{
                font-size: 2.5rem;
                padding-bottom: 1rem;
            }

            .box{
                margin:.7rem;
                width: 100%;
                padding: 1.5rem 0;
                font-size: 1.6rem;
                color:var(--light-color);

                &:focus{
                    border-color: var(--yellow);
                }
            }

            textarea{
                height: 15rem;
                resize: none;
            }
        }
    }
}


/////////////////////////////Contact Us Thirdpage ends





////////////////////////////Fourth page Drop starts



/////body active

#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  max-height: 100vh;
  color: #000;
  margin: 0;
  padding: 0;
}
/////swiper active
.swiper {
  width: 75%;
}

////////inactive slide img
.swiper-slide img {
  display: block;
  width: 80%;
  height: 200%;
  object-fit: cover;
}


.blogs{
    background: rgb(235, 250, 225);
height: 100%;
    }
        
       .blog-slider{
            display: flex;
            
            
        }
    
        ////////swipe active
        .Swipe{
            display: flex;
            height: 120%;
            width: 90%;
        }
    
        .slide{
            width: 100rem;
            display: flex;
            flex-direction: column;
    
    
            &:hover .image img{
                transform: scale(1.1);
                
            }
    
    /////active image and img
            .image{
                height: 30%;
                width: 80%;
                overflow: hidden;
                margin: 0 auto;
                margin-bottom: -1rem;
    
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    padding-left: 0px;
                    transition: .2s linear;
                }
            }
    
            .contents{
           padding: 2rem;
                padding-top: 4rem;
                background: rgb(176, 255, 183);
                box-shadow: springgreen;
               display: flex;
               flex-direction: column;
    
                h3{
                    font-size: 2.5rem;
                }
    
                p{
                    padding:1rem 0;
                    font-size: 1.4rem;
                    color: black;
                }
            }
        }
     
    
////////////////////////Fourthpage drop ends


















/////////////////////////////////////////////////////////////////////////////////////////////@media lap


@media (max-width:1024px){

    html{
        font-size: 55%;
    }
    .header{
        #menu-btn{
            display: none;
        }

        .navbar{
            display: flex;
            
            
            a{
                display: block;
                margin:2rem;
            }
        }
    }

.header{
    height: 10rem;
}

.Nav{
    padding-bottom: 10px;
}
.content{
    display: flex;
    position: absolute;
    top: 30%;
}

    .icons{
        display: none;
    }

.Toggle{
    display: none;
}




}




///////////////////////////////////////////////////////////////////////////////////////////Media Tab
@media (max-width:768px) {

/////swiper active
.swiper {
    width: 100%;
  }
  
  ////////inactive slide img
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 200%;
    object-fit: cover;
  }
  



    .Toggle{
        display: none;
    }


    .icon{
        margin-left: 14px;
        background: var(--light-bg);
        display: none;
    }
    
.icons{
    display: flex;
}

.Nav{
    display: flex;
}

    .header{
        position: sticky;
        top:0; left: 0; right: 0;
        box-shadow: var(--box-shadow);
        padding: 1.5rem 2%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
        background-color: honeydew;
        width: 100%;
        display: flex;

    }

    #col{
        display: none;

    }
}
.NavbarToggle
{display: flex;}


#offcanvasNav{
    display: flex;
}

    /////////////////////////////header and first page starts


//////////////////////////////////////////////////////////////////////////////////////////////mobile
@media (max-width:450px){


:root{
    --yellow: #f5bf23;
    --black: #111;
    --white: #fff;
    --light-color: #666;
    --light-bg: #eee;
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    --border:1rem solid rgba(0,0,0,.3);

}


* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: all .2s linear;
}

@mixin grid($val) {
    display: grid;
    grid-template-coloumns: repeat(auto-fit, minmax($val, 1fr));
    gap:2rem;
}

@mixin titleText($titleSize) {
    font-size: $titleSize;
    color:var(--light-color);
    line-height: 1.5;
}

.icons {
    display: flex;
       line-height: 3rem;
    font-Size: 2.9rem;
    
    color:var(--black);
    cursor: pointer;
    text-align: center;
    margin: 5px;

}



.closebutton{
    font-size: 2.5rem;
    color: black;
    
}

.Toggle{
    display: none;
}

.icon{
    margin-left: 14px;
    background: var(--light-bg);
    display: none;
}

.contactinfo{
    text-align: center;
    padding-top: 0rem;

}


.info{
margin-bottom: 3rem;
font-size: 2rem;


}

.share{
padding-top: 2rem;
border-top: var(--border);

a{
    font-size: 5rem;
    margin: 6px;
}
}

html{
    font-size: 40.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;

    &::-webkit-scrollbar{
        width: 1rem;

    }

    &::-webkit-scrollbar{
        background: transparent;
}
    &::-webkit-scrollbar-thumb{
        background: var(--yellow);
    }
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--black);
    color: var(--white);
    cursor: pointer;
    font-size: 1.7rem;
    text-transform: capitalize;

    &:hover{
        background: var(--yellow);
        color:var(--black);
    }
}

@keyframes fadeIn {
    0%{
        top:50%;
        opacity: 0;
    }
}

.header{
    position: sticky;
    top:0; left: 0; right: 0;
    box-shadow: var(--box-shadow);
    padding: 1.5rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: honeydew;
    width: 100%;

.Nav{

    display: flex;
}

.logo{
    @include titleText(2.5rem);

    span{
        color: greenyellow;
    }
}

.navbar a{
    @include titleText(2rem);
    margin:0 1rem;

    &:hover{
        color:var(--yellow);
    }
}


#menu-btn{
    display: flex;
}



h3{
    @include titleText(2.5rem);
    padding-bottom: 1rem;
    text-transform: uppercase;
}

.box{
    width: 100%;
    padding: 1.2rem 1.4rem;
    background: var(--light-bg);
    font-size: 1.6rem;
    color:var(--light-color);
    margin: .7rem 0;
}

.flex{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;

    label{
        font-size: 1.5rem;
        color:var(--light-color);
        cursor: pointer;

    }

    a{
        font-size: 1.5rem;
        color:var(--light-color);
        margin-left: auto;

        &:hover{
            color: var(--yellow);
            text-decoration: underline;
        }
    }
}
.btn{
    width: 50%;
}


#canbody{
    
    display: flex;
    align-items: flex-start;
    text-align: start;
}
#canbody ul {
    //flex-direction: column;
    //width: 100%;
    align-items: flex-start;
}

#canbody li a{
    padding: 3rem;
    
}


}
/////////////////////////////////Header and FirstPage ends








///////////////////////////////Slider on Firstpage
#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
  width: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  
}

.swiper {
  max-width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
}

.swiper-slide {
    display: flex;
  text-align: center;
  font-size: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 400px;
  justify-content: center;
  
  /* Center slide text vertically */
  div{
    
  display: flex;
  }
}


.content{
    display: flex;
  align-items: center;
  width: none;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 70rem;

  h3{
    font-size: 4rem;
    color: black;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  p{
    font-size: 2.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: midnightblue;
  }
  a{
    width: 40%;
    margin-left: 0;
  }
}








//////////////////////////////////////////Secondpage About

section{
    padding: 10rem 10%;
}

.heading{
    margin-bottom: 3rem;
    font-size: 3rem;
    padding-left: 1rem;
    border-left: 1rem solid yellow;
}

.about{

.row{
    display: flex;
    align-items: center;


    flex-wrap: wrap;
    gap: 2rem;
    

    .video{
flex:1 1 35rem;
display: flex;
min-width: 90px;
height: 200px;

img{
    width: auto;
}
 }
 .content{
     flex:1 1 41rem;
    text-align: left;
    display: flex;
     h3{
         display: flex;
         font-size: 3.5rem;
         font-family: 'Times New Roman', Times, serif;
     }
     p{
         display: flex;
         font-size: 2rem;
         color: black;
         font-family: 'Times New Roman', Times, serif;
     }
     a{
         margin-left: 3px;
     }
 }

}



.box-container{
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .box{
        text-align: center;
        background-color: rgb(211, 247, 199);
        width: 300px;
        padding: 3rem 2rem; 
        margin: 3rem;
    }
    h3{
        font-size: 4rem;
    }
    p{
        font-size: 1.5rem;
        padding-top: .5rem;
    }
    }
}
///////////////////////////About Page ends



//////////////////////////ContactUs Thirdpage Starts
.contact{
    background-color: black;

    .heading{
        color: white;
    }

    .row{
        
        display: flex;
        gap: 2rem;
        flex-direction: row;
        justify-content: space-between;


        .map{
            flex:1 1 41rem;
        }
        form{
            flex: 1 1 41rem;
            background: white;
            padding:2rem;
            max-width: 600px;
            h3{
                font-size: 2.5rem;
                padding-bottom: 1rem;
            }

            .box{
                margin:.7rem;
                width: 100%;
                padding: 1.5rem 0;
                font-size: 1.6rem;
                color:var(--light-color);

                &:focus{
                    border-color: var(--yellow);
                }
            }

            textarea{
                height: 14rem;
                resize: none;
            }
        }
    }
}


/////////////////////////////Contact Us Thirdpage ends





////////////////////////////Fourth page Drop starts



/////body active

#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  max-height: 100vh;
  color: #000;
  margin: 0;
  padding: 0;
}
/////swiper active
.swiper {
  width: 75%;
}

////////inactive slide img
.swiper-slide img {
  display: block;
  width: 80%;
  height: 200%;
  object-fit: cover;
}


.blogs{
    background: rgb(235, 250, 225);
height: 70vh;
    }
        
       .blog-slider{
            display: flex;
            
            
        }
    
        ////////swipe active
        .Swipe{
            display: flex;
            height: 100vh;
            width: 90%;
           
        }
    
        .slide{
            width: 90%;
            display: flex;
            flex-direction: column;
    
            &:hover .image img{
                transform: scale(1.1);
                
            }
    
    /////active image and img
            .image{
                height: 30%;
                width: 80%;
                overflow: hidden;
                margin: 0 auto;
                margin-bottom: -1rem;
    
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    padding-left: 0px;
                    transition: .2s linear;
                }
            }
    
            .contents{
           padding: 2rem;
                padding-top: 4rem;
                background: rgb(176, 255, 183);
                box-shadow: springgreen;
               display: flex;
               flex-direction: column;
    
                h3{
                    font-size: 2rem;
                }
    
                p{
                    padding:1rem 0;
                    font-size: 1.4rem;
                    color: black;
                }
            }
        }
     
    
////////////////////////Fourthpage drop ends











}


//////////////////////////////////////////////////////////////////////////////////////////////mobile
@media (min-width:280px){

    .video{
        flex:1 1 35rem;
        width: 50px;
        height: 170px;
        display: none;


    }
    .row{
        
    overflow-x: hidden;
    }
}
